<div class="mx-auto flex flex-col max-w-80vw">
  <p>random-dog works!</p>
  <img class="p-8 max-h-[80vh] max-w-auto mx-auto" src={{url}} alt="an image of a dog" />
  <button
  (click)="reloadData()"
        type="button"
        class="max-w-[200px] rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mx-auto"
      >
        fetch
      </button>

</div>
